@import url(normalize.css);

:root {
  --primary01: #f3465c;
  --primary02: #ea112d;
  --primary03: #c30f26;
  --secondary01: #34c4cd;
  --secondary02: #05a1ab;
  --secondary03: #048e97;
  --accent01: #fcc439;
  --accent02: #f7b81b;
  --accent03: #eaaf1c;
  --grey100: #f3f3f3;
  --grey300: #dfd8d8;
  --grey500: #948d8d;
  --grey700: #494343;
  --grey900: hsl(0, 0%, 13%);
  --grey700-transparent: rgba(33, 33, 33, 0.5);
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --border-radius: 20px;

  /* HEADING VARIABLES */
  --h1: 3.1rem;
  --h2: 2.4rem;
  --h3: 2rem;
  --h4: 1.6rem;
  --h5: 1.25rem;
  --subtitle: 1rem;
}

/* BASE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue";
  line-height: 1.1;
}

body {
  font-size: 1rem;
  font-family: "Anaheim", sans-serif;
  color: var(--grey900);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* LAYOUT */

.container {
  width: 80%;
  margin: auto;
}

.card {
  background-color: var(--grey700-transparent);
  mix-blend-mode: normal;
  border-radius: var(--border-radius);
  backdrop-filter: blur(px);
  padding: 1rem;
}

/* NAV */

.nav {
  align-items: center;
  background-color: var(--grey900);
  box-shadow: var(--shadow);
  display: inline-flex;
  height: 3rem;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 1em;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Bebas Neue";
  z-index: 1;
}

.nav__logo {
  font-size: var(--h3);
  color: var(--grey100);
}

.nav__menu {
  display: inline-flex;
  gap: 1rem;
  font-size: var(--h5);
  color: var(--grey100);
}

.nav__menu-item:hover {
  color: var(--grey300);
}

@media screen and (min-width: 600px) {
  .nav {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .nav__menu {
    font-size: var(--h4);
  }
}

/* BANNER */

.banner__main {
  background-color: var(--grey900);
  height: 18rem;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner__main-logo {
  height: 8rem;
}

@media screen and (min-width: 800px) {
  .banner__main {
    justify-content: space-around;
  }

  .banner__main-logo {
    height: 100%;
  }
}

.banner__download-resume-button {
  transition: transform 0.2s ease-in-out;
}

.banner__download-resume-button:hover {
  transform: scale(1.2);
}

.banner__img-container {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PROFILE & SUMMARY */

.summary {
  background-color: var(--grey700);
  background-image: url(/assets/yellowstripe.svg);
  background-attachment: fixed;
  padding: 3%;
}

.card--summary {
  border: 0.5rem solid var(--secondary01);
  width: 95%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .card--summary {
    width: 80%;
  }
}

@media screen and (min-width: 1900px) {
  .card--summary {
    width: 50%;
  }
}

.card--media {
  background-color: var(--grey100);
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .card--media {
    flex-direction: row;
  }
}

.summary__profile-container {
  height: 20rem;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .summary__profile-container {
    height: 30rem;
    flex-grow: 0;
  }
}

.summary__profile {
  object-fit: cover;
  object-position: 0% 1%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* SUMMARY TEXT */

.summary__text-container {
  width: auto;
  margin: 1.5rem;
}

.summary__title-container {
  margin-bottom: 1rem;
}

.summary__main-title {
  font-size: var(--h3);
  line-height: 1.5rem;
  color: var(--grey700);
}

.summary__subtitle {
  font-family: "Anaheim";
  font-size: var(--subtitle);
  color: var(--grey500);
}

.summary__web-title {
  font-size: var(--h4);
  color: var(--secondary03);
}

.summary__web-details {
  margin: 0rem 1rem 1rem 3rem;
  list-style-type: circle;
}

.summary__web-details li {
  list-style-type: circle;
}

.summary__design-title {
  font-size: var(--h4);
  color: var(--accent03);
}

.summary__design-details {
  margin: 0rem 1rem 1rem 3rem;
}

.summary__design-details li {
  list-style-type: circle;
}

@media screen and (min-width: 1300px) {
  .summary__text-container {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 8rem 8rem 8rem 4rem;
    margin: 0;
    flex-grow: 1;
  }

  .summary__title-container {
    grid-column: 1 / span 2;
    margin-bottom: 0rem;
    align-self: center;
    justify-self: center;
  }

  .summary__main-title {
    font-size: var(--h1);
    line-height: 2.5rem;
    color: var(--grey700);
  }

  .summary__subtitle {
    font-family: "Anaheim";
    font-size: var(--subtitle);
    color: var(--grey500);
  }

  .summary__web-title {
    grid-row: 2;
    grid-column: 1;
    padding: 0rem 1rem;
    font-size: var(--h2);
    text-align: right;
  }

  .summary__design-title {
    grid-row: 3;
    grid-column: 1;
    padding: 0rem 1rem;
    font-size: var(--h2);
    text-align: right;
  }

  .summary__web-details {
    list-style-type: none;
    grid-row: 2;
    grid-column: 2;
    padding-top: 0.5rem;
  }

  .summary__design-details {
    list-style-type: none;
    grid-row: 3;
    grid-column: 2;
    padding-top: 0.5rem;
  }
}

/* TECHNOLOGY AND SKILLS */

.skills {
  background-image: url(/assets/banner01.png);
  background-attachment: fixed;
  object-fit: cover;
}

.skills__title-container {
  background-color: var(--grey900);
  height: 6rem;
  font-size: var(--h1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}

.skills__title {
  color: var(--grey100);
  font-size: var(--h3);
}

@media screen and (min-width: 600px) {
  .skills__title {
    font-size: var(--h1);
  }
}

.skills__container {
  align-content: center;
  align-items: flex-end;
  background-color: rgba(73, 67, 67, 0.65);
  height: 20rem;
}

.skills__cards {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow-x: scroll;
  margin-left: 10%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.skills__cards::-webkit-scrollbar {
  display: none;
}

.skills__card {
  margin: 1.5rem;
  transition: transform 0.3 ease-out;
}

.skills__card:hover {
  transform: scale(1.05);
}

/* THANKS */

.thanks {
  background-color: var(--grey300);
  height: fit-content;
}

.thanks__thanks-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.thanks__video-container {
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .thanks__thanks-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .thanks__thanks-container {
    width: 85%;
    margin: auto;
    height: 25rem;
  }

  .thanks__video-container {
    margin: 3rem 0rem;
  }
}

@media screen and (min-width: 2000px) {
  .thanks__thanks-container {
    width: 60%;
    margin: auto;
    height: 30rem;
  }
}

.thanks__video {
  width: 100%;
  height: 100%;
  /*width="560"
  height="315"*/
}

.thanks__text {
  justify-self: center;
  align-self: center;
  margin: 1rem 2rem;
}

.thanks__text h2 {
  font-size: var(--h3);
}

.thanks__text h3 {
  font-size: var(--h6);
  margin-top: 1rem;
  color: var(--grey700);
}

.thanks__text h4 {
  font-size: var(--subtitle);
  color: var(--grey500);
  margin-bottom: 1rem;
  font-family: "Anaheim";
}

/* FOOTER */
.footer {
  display: block;
  padding: 1rem;
  height: auto;
  width: 100%;
  background-color: var(--grey900);
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.footer__creative-links {
  margin: 1rem;
}

.footer__creative-links h2 {
  font-family: "Anaheim";
  text-transform: uppercase;
  font-size: var(--subtitle);
  color: var(--accent01);
  line-height: 1.5rem;
}

.footer__creative-links a {
  color: var(--grey100);
}

.footer__creative-links a:hover {
  color: var(--grey500);
}

.footer__copywriting {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  width: 15rem;
}

.footer__revue-embed {
  color: var(--grey100);
  padding: 1rem;
}

.revue-form {
  display: grid;
}

.revue-form-group {
  margin-top: 0.5rem;
  display: flex;
  height: fit-content;
  width: min-content;
  border: 2px solid var(--secondary01);
  border-radius: 5px;
  overflow: hidden;
}

.revue-form-group input {
  box-sizing: border-box;
  height: 38px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border: none;
}

.revue-form-field {
  color: var(--grey700);
}

.member_submit {
  background-color: var(--secondary01);
  padding: 0.3em 0.8em;
  border: none;
  align-items: center;
  height: 38px;
  font-family: "Bebas Neue";
}

.revue-form-text {
  margin-top: 2rem;
  font-size: 0.8rem;
}
